<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uit.is.thesis.travel.activities"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar">
    <uses-library android:name="com.google.android.maps" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TabAllActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="TabSuggestionsActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="TabFavoritesActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="TabContextActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="TabProfileActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="DetailsActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="MyMapActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
         <activity android:name="WebViewActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        <activity android:name="RateActivity"
        		  android:label="@string/app_name"
        		  android:screenOrientation="portrait"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
    </application>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
</manifest>