@{
    ViewBag.Title = "Android App";
}

<h2>@ViewBag.Message</h2>
<p>
    We've built an Android app named TravelH2V which uses this recommender system.
    Because this is the demo version, there are only 20 best places of interest in HCM city in our database.
    <br />
    You can download, use (free of charge) and rate some places.
    The more you rate, the more accuracy our recommender system is.
    <br />
    Please help us rate as much as possible! Thank you very much for your help! 
    <br /><br />
    Download here:
    <br />
    App and user guide: <a href="http://www.google.com.vn">Download</a>
    
    <br /><br />
    --------------------------------------------------------------------
    <br /><br />

    Chúng tôi đã xây dựng một ứng dụng Android tên là TravelH2V sử dụng hệ thống khuyến nghị này. 
    Vì đây là bản thử nghiệm nên chỉ có 20 điểm du lịch nổi tiếng nhất ở TP.HCM trong cơ sở dữ liệu của chúng tôi.
    <br />
    Các bạn có thể download, sử dụng (miễn phí) và đánh giá các điểm du lịch.
    Càng đánh giá nhiều, hệ thống khuyến nghị của chúng tôi càng chính xác.
    <br />
    Xin vui lòng giúp chúng tôi đánh giá càng nhiều càng tốt! Xin chân thành cảm ơn sự giúp đỡ của các bạn!
    <br /><br />
    Download tại đây:
    <br />
    Ứng dụng và hướng dẫn sử dụng: <a href="http://www.google.com.vn">Download</a>
</p>
